/* .glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #120101;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #fc5757;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #f65151;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
} */

.fancy-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 2px;
  color: #055855;
  border: 2px solid #055855;
  background-color: transparent;
  overflow: hidden;
  transition: color 0.4s ease;

  cursor: pointer;
}

.fancy-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 100%;
  border-radius: 2px;
  background-color: #055855;
  z-index: 1;

  transition: width 0.4s ease, left 0.4s ease;
}

.fancy-btn:hover::before {
  width: 100%;
  left: 0;
}

.fancy-btn span {
  position: relative;
  z-index: 2;
  transition: color 0.4s ease;
}

.fancy-btn:hover span {
  color: white;
}
